body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to column direction */
    justify-content: flex-start; /* Align items to the start vertically */
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative; 
    overflow: hidden; 
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 70%;
}
.top-nav {
    width: 100%;
    height: 3.5%;
    background-color: #204161;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    width: 100%;
    height: 100%;
}

.top-nav ul li {

    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-right: 1%;
    margin-left: 15px
}

.top-nav ul li a {
    text-decoration: none;
    font-family: "Major Mono Display", monospace;
    color: azure; 
}

.top-nav ul li a:visited,
.top-nav ul li a:hover,
.top-nav ul li a:active {
    color: azure; 
    text-decoration: none;
}

.entrytitle{
    color: azure;
    font-family: "Major Mono Display", monospace;
    font-size: 1.5vw;   
    margin-top: 3%;
}

.entrybox {
    color: azure;
    font-family: "Major Mono Display", monospace;
    font-size: 1.5vw;
}



.major {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.btnStack {
    background-color: #285079;
    color: azure;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    outline: none;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 25px;
    font-family: "Major Mono Display", monospace;
}

a.btnStack:hover {
    background-color: #3d639c;
}
